body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	border: 2px solid black;
	margin: 1% auto 0px auto;
	width: min-content;
	padding: 20px 10px 5px 10px;
}

/* SCREEN ///////////////////////////////////////////////////////////////////////////////////////////////// */
.screen-container {
	border: 1px solid grey;
	width: 350px;
	height: 350px;
	margin: 0px auto;
	background-image: url("./background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    overflow: hidden;
    position:relative;
}
/* BUTTONS //////////////////////////////////////////////////////////////////////////////////////////////// */
.buttons-container {
	width: 260px;
	height: 260px;
	border: 1px solid grey;
	margin: 10px auto 0px auto;
	border-radius: 50%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(221, 221, 221);
}
.center-circle {
	width: 50%;
	height: 50%;
	background-color: rgb(90, 90, 90);
	border-radius: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	outline: none;
	border: none;
}

.menu-button {
	position: absolute;
	top: 0px;
	height: 25%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 37% 37% 0% 0%;
	font-size: 30px;
	outline: none;
	border: none;
	background-color: transparent;
	color: rgb(78, 78, 78);
}
.left-button {
	position: absolute;
	left: 0px;
	width: 25%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 37% 0% 0% 37%;
	font-size: 30px;
	outline: none;
	border: none;
	background-color: transparent;
	color: rgb(78, 78, 78);
}
.right-button {
	position: absolute;
	right: 0px;
	width: 25%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0% 37% 37% 0%;
	font-size: 30px;
	outline: none;
	border: none;
	background-color: transparent;
	color: rgb(78, 78, 78);
}
.play-pause {
	position: absolute;
	bottom: 0px;
	height: 25%;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0% 37% 37%;
	font-size: 30px;
	outline: none;
	border: none;
	background-color: transparent;
	color: rgb(78, 78, 78);
}

/* MENU /////////////////////////////////////////////////////////////////////////////////////////////////// */
.screen-menu {
	width: 0%;
	height: 100%;
    position: absolute;
    z-index: 5;
	left: 0%;
	background-color: white;
    box-shadow: none;
    overflow-x: hidden;
	transition: width ease-in-out 0.2s;
}

.width-50
{
    width:50% !important;
    box-shadow: 0px 0px 12px 1px rgb(82, 82, 82) !important;
}

.screen-menu>div
{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20%;
    border:1px solid rgb(190, 190, 190);
    box-sizing: border-box;
    white-space: nowrap;/* to turn off text wrapping in the screen menu */
}

.screen-menu p
{
    font-size:20px;
    overflow-wrap: normal;
}

.screen-menu>.selected
{
    background-color:rgb(89, 89, 255);
}

.app-logo
{
    background-color: #ff0053;
    color:white;
    font-size: large;
}

/* SCREENS //////////////////////////////////////////////////////////////////////////////////////////// */

.screen-game
{
    height:100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    overflow:hidden;
}
.screen-music
{
    height:100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    overflow:hidden;
}
.screen-setting
{
    height:100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    overflow:hidden;
}
.screen-coverflow
{
    height:100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    overflow:hidden;
}

/* ALL SONGS SCREEN ///////////////////////////////////////////////////////////// */
.all-songs
{
    height:100%;
    width:100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    overflow:hidden;
}
.all-songs-heading
{
    padding-bottom:10px;
    background-color: rgb(255, 51, 0);
    margin:0px;
    opacity:0.8;
    height:10%;
}
.all-songs-list
{
    height:86%;
}
.all-songs-list>div
{
    border:1px solid rgb(207, 207, 207);
    width:1005;
    height:14%;
}
.instruction-all-songs
{
    height:20%;
    background-color: blueviolet;
    color:white;
}
.selected-song
{
    background-color:rgb(255, 166, 0);
}

/* MUSIC SCREEN //////////////////////////////////////////////////////////////////////////////////////////// */
.screen-music>h1
{
    margin:0px;
    padding:2px;
    background-image: linear-gradient(45deg, red -100%,  blue 200%);
    color:white;
}

.song-image
{
    width:50%;
    height:50%;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
}

.song-image>img
{
    height:100%;
    width:100%;
}

